[submodule "deps/nginx_tcp_proxy_module"]
	path = deps/nginx_tcp_proxy_module
	url = https://github.com/yaoweibin/nginx_tcp_proxy_module.git
[submodule "deps/boringssl"]
	path = deps/boringssl
	url = https://github.com/google/boringssl.git
